body{
    position: relative;
    display: flex;
    place-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(138 ,138 ,138);
}

.signInForm{
    background-color: white;
    padding: 40px;
}

.signInForm *{
    margin-bottom: 5px;
}
